.w3-theme-l5 {color:#000 !important; background-color:#f6f6f6 !important}
.w3-theme-l4 {color:#000 !important; background-color:#e0e0e0 !important}
.w3-theme-l3 {color:#000 !important; background-color:#c2c2c2 !important}
.w3-theme-l2 {color:#fff !important; background-color:#a3a3a3 !important}
.w3-theme-l1 {color:#fff !important; background-color:#858585 !important}
.w3-theme-d1 {color:#fff !important; background-color:#5c5c5c !important}
.w3-theme-d2 {color:#fff !important; background-color:#525252 !important}
.w3-theme-d3 {color:#fff !important; background-color:#474747 !important}
.w3-theme-d4 {color:#fff !important; background-color:#3d3d3d !important}
.w3-theme-d5 {color:#fff !important; background-color:#333333 !important}

.w3-theme-light {color:#000 !important; background-color:#f6f6f6 !important}
.w3-theme-dark {color:#fff !important; background-color:#333333 !important}
.w3-theme-action {color:#fff !important; background-color:#333333 !important}

.w3-theme {color:#fff !important; background-color:#666666 !important}
.w3-text-theme {color:#666666 !important}
.w3-border-theme {border-color:#666666 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#666666 !important}
.w3-hover-text-theme:hover {color:#666666 !important}
.w3-hover-border-theme:hover {border-color:#666666 !important}
